<div class='header'>

    <div class='item'>
      <h1>Marco Meza</h1>
    </div>
    
    <div class='divider'></div>
    
    
    
    <a href="https://www.github.com/mezamarco"  target="_blank"class="itemRight">
    <img src="https://img.icons8.com/dotty/42/000000/github.png">Github
    </a>
    <a href="https://www.linkedin.com/in/mezamarco/" target="_blank" class="itemRight">
     <img src="https://img.icons8.com/dotty/42/000000/linkedin.png">
     LinkedIn
    </a>
    
    <a href="https://www.facebook.com" target="_blank" class="itemRight">
    <img src="https://img.icons8.com/wired/42/000000/csv.png">Resume
    </a>
    
    
    </div>
    
